@model IEnumerable<FindTheDwarves.Application.DTO.Dwarves.ShowDwarfDTO>

@{
    ViewData["Title"] = "Dwarves";
}

<h1>Dwarves</h1>

<p>
    <a asp-action="CreateDwarf">Stwórz krasnala</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DwarfID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DwarfID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-info" asp-action="EditDwarf" asp-route-id="@item.DwarfID">Edit</a>
                <a class="btn btn-danger text-white" asp-action="DeleteDwarf" asp-route-id="@item.DwarfID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
